<div class="splash-container">
    <div class="splash pure-g">
        <div class="splash-title pure-u-md-1-2 pure-u-1">
            <h1 class="splash-head">Bring mobility to your university cafeteria</h1>
            <h3 class="splash-subhead">Weekly meals always updated</h3>
        </div>
        <div class="screenshot pure-u-md-1-2 pure-u-1">
            <img src="<%= image_path('device.png') %>" />
        </div>
    </div>
</div>

<section class="content container pure-g">
    <h2 class="pure-u-1 is-center section-title">Features</h2>
    <div class="feature l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <i class="fa fa-calendar"></i>
        <h3 class="feature-subhead">Weekly</h3>
        <p>
            We visit periodically and fetch the weekly meals from this website
        </p>
    </div>
    <div class="feature l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <i class="fa fa-users"></i>
        <h3 class="feature-subhead">Collaborative</h3>
        <p>
            Since the code is open source, you can contribute with your own code.
        </p>
    </div>
    <div class="feature l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <i class="fa fa-bell"></i>
        <h3 class="feature-subhead">Notifications</h3>
        <p>
            Whenever a new meal is included, the user receives the latest meals.
            Don't need to use the data
        </p>
    </div>
</section>

<section class="content container pure-g">
    <h2 class="pure-u-1 is-center section-title">How it works</h2>
    <div class="description l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <p><strong>1.</strong>Periodically, our robots visit the cafeteria website</p>
        <img src="<%= image_path('robot.svg') %>" />
    </div>

    <div class="description l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <p><strong>2.</strong> If the meals had any update...</p>
        <img src="<%= image_path('meals.svg') %>" />
    </div>

    <div class="description l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <p><strong>3.</strong> We notify the students with the new meal</p>
        <img src="<%= image_path('broadcast.svg') %>" />
    </div>
</section>

<section class="contact pure-g contact">
    <div class="container">
        <h2 class="pure-u-1 is-center section-title">Contact Us</h2>

        <p class="pure-u-1 is-center">Send us information about your university.
            No ads and no spam. Your university should have a site with the meals
        </p>
        <form class="pure-form">
            <fieldset>
                <div class="pure-u-1 pure-u-md-1-2 text-input">
                    <label for="name">Your Name</label>
                    <input id="name" type="text" placeholder="Your Name">
                </div>

                <div class="pure-u-1 pure-u-md-1-2 text-input">
                    <label for="email">Your Email</label>
                    <input id="email" type="email" placeholder="Your Email">
                </div>

                <div class="pure-u-1">
                    <label for="description">Description</label>
                    <input id="description" type="text" placeholder="Information about your university">
                </div>

                <div class="pure-u-1 is-center">
                    <button type="submit" class="pure-button">Send</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>
