<div class="splash-container">
    <div class="splash container pure-g">
        <div class="splash-title pure-u-md-1-2 pure-u-1">
            <h1 class="splash-head">Bring mobility to your university cafeteria</h1>
            <h3 class="splash-subhead">Weekly menu always updated</h3>
        </div>
        <div class="screenshot pure-u-md-1-2 pure-u-1">
            <img src="<%= image_path('device.png') %>" />
        </div>
    </div>
</div>

<section class="content container pure-g">
    <h2 class="pure-u-1 is-center section-title"><i class="fa fa-star"></i>Features</h2>
    <div class="feature l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <i class="fa fa-thumbs-o-up"></i>
        <h3 class="feature-subhead">Useful</h3>
        <p>
            Don't waste your time going to the ugly cafeteria website to know today's menu
        </p>
    </div>
    <div class="feature l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <i class="fa fa-bullhorn"></i>
        <h3 class="feature-subhead">Up-to-date</h3>
        <p>
          You are always notified with the latest menu
        </p>
    </div>
    <div class="feature l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <i class="fa fa-money"></i>
        <h3 class="feature-subhead">Free</h3>
        <p>
          No ads and no premium version.
        </p>
    </div>
</section>

<section class="content container pure-g">
    <h2 class="pure-u-1 is-center section-title"><i class="fa fa-cog"></i>How it works</h2>
    <div class="description l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img src="<%= image_path('robot.svg') %>" />
        <p><strong>1.</strong>Periodically, our robots visit the cafeteria website</p>
    </div>

    <div class="description l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img src="<%= image_path('meals.svg') %>" />
        <p><strong>2.</strong> If the weekly menu changed...</p>
    </div>

    <div class="description l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <img src="<%= image_path('broadcast.svg') %>" />
        <p><strong class="number">3.</strong> We notify the students with the new meals</p>
    </div>
</section>

<section class="contact pure-g">
    <div class="container">
        <h2 class="pure-u-1 is-center section-title"><i class="fa fa-users"></i>Contact Us</h2>

        <p class="pure-u-1 is-center contact-text">
            Do you wanna have your university included here? <br/>
            Send us the website that shows the menu and we will take care of the rest.
        </p>
        <form class="pure-form">
            <fieldset>
                <div class="pure-u-1 pure-u-md-1-2 text-input">
                    <label for="name">Your Name</label>
                    <input id="name" type="text" placeholder="Your Name">
                </div>

                <div class="pure-u-1 pure-u-md-1-2 text-input">
                    <label for="email">Your Email</label>
                    <input id="email" type="email" placeholder="Your Email">
                </div>

                <div class="pure-u-1">
                    <label for="description">Description</label>
                    <textarea id="description" placeholder="More information about your university"></textarea>
                </div>

                <div class="pure-u-1 is-center">
                    <button type="submit" class="pure-button">Send</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>
