header {
    background: white;
    padding: 15px;
    * {
        white-space: normal;
    }
}

.home-menu {
    text-align: left;
    text-transform: uppercase;
    @media (max-width: 48em) {
        text-align: center;
    }
    .pure-menu-heading {
        color: $text-color;
        font-weight: bold;
        font-size: 140%;
        padding: 0;
    }
    .pure-menu-selected a {
        color: $text-color;
    }
    .heading-title {
        vertical-align: middle;
    }
    #logo {
        margin-right: 10px;
        vertical-align: middle;
    }
    a {
        text-decoration: none;
        color: $text-color;
        &:-webkit-any-link,
        &:visited {
            text-decoration: none;
            color: $text-color;
        }
        &:hover {
            background: none;
            border: none;
            color: $main-color;
        }
    }
    @media (max-width: 48em) {
        nav.is-active {
            display: block;
            + ul {
                -webkit-transition: max-height .4s;
                -moz-transition: max-height .4s;
                -o-transition: max-height .4s;
                -ms-transition: max-height .4s;
                transition: max-height .4s;
            }
        }
    }
    nav {
        float: right;
        @media (max-width: 48em) {
            display: none;
            float: none;
            text-align: center;
        }
        ul {
            @media (max-width: 48em) {
                max-height: auto;
            }
            li.pure-menu-item {
                @media (max-width: 48em) {
                    display: block;
                    position: static;
                }
            }
        }
    }
    #navigation-list {
        li {
            color: $text-color;
            ul {
                display: none;
            }
            i {
                margin-left: 5px;
            }
            &:hover {
                color: $main-color;
            }
            &:hover i {
                padding-left: 10px;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);

                -webkit-transition: all 0.7s ease;
                -moz-transition: all 0.7s ease;
                -o-transition: all 0.7s ease;
                -ms-transition: all 0.7s ease;
                transition: all 0.7s ease;
            }
            &:hover ul,
            & ul:hover{
                position: absolute;
                display: block;
                background-color: white;
                padding: 10px;
                width: 100%;
                text-align: center;
                @media (max-width: 48em - 1) {
                    position: static;
                    display: block;
                }
            }
        }
    }
    #menu-button {
        position: relative;
        float: right;
        display: none;
        font-weight: normal;
        margin-top: 10px;
        vertical-align: middle;
        font-size: 1.2em;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        @media (max-width: 48em) {
            display: inline-block;
        }
    }
}