$text-color: #444;
$main-color: #dd514c;

/* Basic properties */

html,
body {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    font-family: Lato, serial-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    color: $text-color;
}

body .pure-g [class*="pure-u"] {
    font-family: Lato, serial-serif;
}

.l-box {
    padding: 1em;
}

.is-center {
    text-align: center;
}

.home-menu a a:-webkit-any-link,
a:visited {
    text-decoration: none;
    color: $text-color;
}

a:hover {
    background: none;
    border: none;
    color: $main-color;
}


/* Override pure */

.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
    background-color: inherit;
}


/* Main Layout */

.content-wrapper {
    width: 100%;
    min-height: 100%;
    background: white;
    position: relative;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main-content {
    padding-top: 80px;
    padding-bottom: 50px;
}


/* Header */

header {
    background: white;
    padding: 15px;
    * {
        white-space: normal;
    }
}


/* FF was not floating nav correctly with white-space: nowrap */

.home-menu {
    text-align: center;
    text-transform: uppercase;
    .pure-menu-heading {
        color: $text-color;
        font-weight: bold;
        font-size: 140%;
        padding: 0;
    }
    .pure-menu-selected a {
        color: $text-color;
    }
    .heading-title {
        vertical-align: middle;
    }
    #logo {
        margin-right: 10px;
        vertical-align: middle;
    }
    nav {
        float: right;
    }
}

#navigation-list {
    li {
        color: $text-color;
    }
    li ul {
        display: none;
    }
    li i {
        margin-left: 5px;
    }
    li:hover i {
        padding-left: 10px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: all 0.7s ease;
    }
    li:hover {
        color: $main-color;
    }
    li:hover ul {
        position: absolute;
        display: block;
        background-color: white;
        padding: 10px;
        width: 100%;
        text-align: center;
    }
}

#menu-button {
    position: relative;
    float: right;
    display: none;
    font-weight: normal;
    margin-top: 10px;
    vertical-align: middle;
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

footer {
    background: #3e4347;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    p {
        color: white;
    }
}


/* Landing Page */

.section-title {
    text-transform: uppercase;
}

.splash-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), image-url('background.jpg') no-repeat center center;
    width: 100%;
    .splash {
        margin: auto;
        position: relative;
        text-align: center;
        max-width: 1170px;
        .screenshot {
            margin: 50px auto 0 auto;
            img {
                width: 300px;
                margin-bottom: 30px;
            }
        }
        .splash-title {
            margin-top: 10%;
            .splash-head {
                font-size: 2em;
                font-weight: 700;
                margin-top: 50px;
                text-transform: uppercase;
            }
            .splash-subhead {
                font-weight: 100;
            }
        }
    }
    * {
        color: white;
        letter-spacing: 0.1em;
    }
}

.feature {
    text-align: center;
    p {
        color: $text-color;
        vertical-align: middle;
        display: inline-block;
    }
    * {
        color: $main-color;
    }
    .feature-subhead {
        text-transform: uppercase;
    }
    i {
        display: block;
        font-size: 60px;
    }
}

.description {
    text-align: center;
    p strong {
        color: $main-color;
        padding-right: 5px;
    }
    img {
        max-width: 100%;
    }
}

.contact {
    padding-top: 20px;
    background-color: $main-color;
    text-align: center;
    * {
        color: white;
    }
    .section-title i {
        padding-right: 10px;
    }
    .contact-text {
        width: 70%;
    }
    form {
        width: 70%;
        margin: 0 auto;
    }
    form .text-input {
        margin-left: 5%;
        width: 47.5%;
    }
    form .text-input:first-child {
        margin-left: 0;
    }
    form {
        text-align: left;
    }
    .pure-form label {
        margin: 1em 0 0;
        font-weight: bold;
        font-size: 100%;
    }
    .pure-form input[type],
    .pure-form textarea {
        border: 2px solid #ddd;
        color: $text-color;
        box-shadow: none;
        font-size: 100%;
        width: 100%;
        margin-bottom: 1em;
    }
    .pure-button {
        background-color: #3e4347;
        color: white;
        padding: 0.5em 2em;
        border-radius: 5px;
    }
}

.meals {
    text-align: center;
    i {
        font-size: 200%;
    }
    table thead {
        text-align: center;
        background-color: $main-color;
        color: white;
    }
    .responsive-table {
        margin: 0 30px;
        display: inline-block;
        /* Space to fit the arrows */
        max-width: 80%;
        overflow-x: auto;
    }
    .meals-table {
        margin-top: 50px;
        display: block;
        width: 100%;
        padding-bottom: 30px;
        * {
            vertical-align: middle;
        }
    }
    .no-meals {
        display: block;
        margin-top: 50px;
    }
    .no-meals h3 {
        margin: 0 30px;
        display: inline-block;
    }
    .no-meals i {
        font-size: 150%;
        display: inline-block;
    }
}

@media (min-width: 48em) {
    .content {
        padding: 1em;
    }
    .home-menu {
        text-align: left;
    }
    .splash-head {
        font-size: 250%;
    }
}

@media (min-width: 78em) {
    .screenshot {
        margin: 20px auto 0 auto;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .splash {
        padding-right: 100px;
        padding-left: 100px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 48em) {
    body {
        font-size: 14px;
    }
    .splash .screenshot img {
        width: 80%;
    }
    .splash .screenshot {
        margin: 20px auto 0 auto;
    }
    #navigation-list li:hover ul {
        position: static;
        display: block;
    }
    #menu-button {
        display: inline-block;
    }
    .home-menu nav {
        display: none;
        float: none;
        text-align: center;
    }
    .home-menu nav ul {
        max-height: auto;
    }
    .home-menu nav ul li.pure-menu-item {
        display: block;
        position: static;
    }
    .home-menu nav.is-active {
        display: block;
    }
    .home-menu nav.is-active + ul {
        -webkit-transition: max-height .4s;
        -moz-transition: max-height .4s;
        -o-transition: max-height .4s;
        -ms-transition: max-height .4s;
        transition: max-height .4s;
    }
    .contact form .text-input {
        width: 100%;
        margin-left: 0;
    }
    .description img {
        max-width: 80%;
    }
    .meals .responsive-table {
        margin: 0 10px;
        max-width: 70%
    }
    .content {
        padding: 40px 0;
    }
}

@media (max-width: 767px) {
    .splash-title {
        margin-top: 0;
    }
}