* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: Lato, serial-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    color: #444;
}

body .pure-g [class*="pure-u"] {
    font-family: Lato, serial-serif;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
.l-box {
    padding: 1em;
}


.is-center {
    text-align: center;
}


.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.pure-button {
    background-color: #111;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

.main-content {
    padding-top: 80px;
    padding-bottom: 50px;
}

.home-menu {
    text-align: center;
}

.home-menu {
    text-transform: uppercase;
}

.pure-menu.pure-menu-fixed {
    border-bottom: none;
}

.home-menu .pure-menu-heading {
    color: #444;
    font-weight: bold;
    font-size: 140%;
    padding: 0;
}

.home-menu .pure-menu-selected a {
    color: #444444;
}

.home-menu a {
    color: #444444;
}

a:visited {
    color: #444;
}

a:-webkit-any-link {
    text-decoration:none;
    color: #444;
}


a:hover {
    background: none;
    border: none;
    color: #dd514c;
}

.splash-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), image-url('background.jpg') no-repeat center center;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
}

.splash {
    margin: auto;
    position: relative;
    text-align: center;
    max-width: 1170px;
}

.screenshot {
    margin: 50px auto 0 auto;
}

.splash .screenshot img {
    width: 375px;
    margin-bottom: 30px;
}

.splash-title * {
    color: white;
    letter-spacing: 0.1em;
}

.splash-title {
    margin-top: 20%;
}

.splash-head {
    font-size: 2em;
    font-weight: 700;
    margin-top:50px;
    text-transform: uppercase;
}

.splash-subhead {
    font-weight: 100;
}

.content-wrapper {
    width: 100%;
    min-height: 100%;
    background: white;
    position: relative;
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content-head-ribbon {
    color: white;
}

.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* TABLET */
@media (min-width: 48em) {
    body {
        font-size: 16px;
    }
    .content {
        padding: 1em;
    }
    .home-menu {
        text-align: left;
    }
    .splash-head {
        font-size: 250%;
    }
}

@media (min-width: 78em) {
    .screenshot {
        margin: 20px auto 0 auto;
    }
}

.section-title {
    text-transform: uppercase;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.heading-title {
    vertical-align: middle;
}

#logo {
    margin-right: 10px;
    vertical-align: middle;
}

header {
    background: white;
    padding: 15px;
}


/* FF was not floating nav correctly with white-space: nowrap */
header * {
    white-space: normal;
}

.home-menu nav {
    float: right;
}

#navigation li ul {
    display:none;
}

#navigation li i {
    margin-left: 5px;
}

#navigation li:hover i {
    padding-left: 10px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 0.7s ease;
}

#navigation li:hover ul {
    position: absolute;
    display:block;
    background-color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}

#menu-button {
    position: relative;
    float: right;
    display: none;
    font-weight: normal;
    margin-top: 10px;
    vertical-align: middle;
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

@media (max-width: 767px) {
    .splash-title {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .splash .screenshot img {
        width: 80%;
    }
    .splash .screenshot {
        margin: 20px auto 0 auto;
    }
    #navigation li:hover ul {
        position: static;
        display: block;
    }
    #menu-button {
        display: inline-block;
    }
    .home-menu nav {
        display: none;
        float: none;
    }
    .home-menu nav ul {
        max-height: auto;
    }
    .home-menu nav ul li.pure-menu-item {
        display: block;
        position: static;
    }
    .home-menu nav.is-active {
        display:block;
    }
    .home-menu nav.is-active + ul {
        -webkit-transition: max-height .4s;
        -moz-transition: max-height .4s;
        -o-transition: max-height .4s;
        -ms-transition: max-height .4s;
        transition: max-height .4s;
    }

    .contact form .text-input {
        width: 100%;
        margin-left:0;
    }
}

section.content {
    padding: 40px 0;
}

.feature * {
    color: #dd514c;
    text-align: center;
}

.feature p {
    color: #444;
}

.feature-subhead {
    text-transform: uppercase;
}

.feature i {
    display: block;
    font-size: 60px;
}

section.description-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.description {
    text-align: center;
}

.description p strong {
    color: #dd514c;
    padding-right: 5px;
}

.description img {
    max-width: 100%;
}

.contact {
    padding-top: 20px;
    background-color: #dd514c;
}

.contact * {
    color: white;
}

.contact input {
    color: #444;
}

.contact form {
    width: 70%;
    margin: 0 auto;
}

.contact form .text-input {
    margin-left: 5%;
    width: 47.5%;
}

.contact form .text-input:first-child {
    margin-left: 0;
}

.contact form {
    text-align: left;
}

.meals {
    text-align: center;
}

.meals table thead {
    text-align: center;
    background-color: #dd514c;
    color: white;
}

.meals .responsive-table {
    margin: 0 30px;
    display: inline-block;
    /* Space to fit the arrows */
    max-width: 80%;
    overflow-x: auto;
}

.meals-table {
    margin-top: 50px;
    display: block;
    width: 100%;
    padding-bottom: 30px;
}

.meals-table * {
    vertical-align: middle;
}

footer {
    background: #111;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
}

footer p {
    color: white;
}

html, body {
    height: 100%;
}

.meals a:visited {
    color: #444;
}

.meals .no-meals {
    display: block;
    margin-top: 50px;
}

.meals .no-meals h3 {
    margin: 0 30px;
    display: inline-block;
}
