.meals {
    table thead {
        background-color: $main-color;
        color: white;
        text-align: center
    }
    .links {
        i {
            padding: 0 20px;
            font-size: 250%;
        }
    }
    .responsive-table {
        margin: 0 30px;
        display: inline-block;
        /* Space to fit the arrows */
        max-width: 80%;
        overflow-x: auto;
        @media (max-width: 48em) {
            margin: 0 10px;
            max-width: 70%;
        }
    }
    .meals-table {
        margin-top: 50px;
        display: block;
        width: 100%;
        padding-bottom: 30px;
        * {
            vertical-align: middle;
        }
        i {
            font-size: 200%;
        }
    }
    .no-meals {
        display: block;
        margin-top: 50px;
        h3 {
            margin: 0 30px;
            display: inline-block;
        }
        i {
            font-size: 150%;
            display: inline-block;
        }
    }
}